{{/*
    Docs: https://wowchemy.com/docs/content/writing-markdown-latex/#callouts

    Parameters
    ----------
    #0 : optional, positional
        Add the class "alert-{#0}" to the <div> container of the callout element.
        Default Wowchemy available styles are "note" and "warning".
        Otherwise you can create your own class (see `assets/scss/wowchemy/elements/_callout.scss`).
*/}}

<div class="alert alert-{{ .Get 0 }}">
  <div>
    {{ .Inner | markdownify | emojify  }}
  </div>
</div>
