# Environment variables
.env

# IDE specific
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Hugo
.hugo_build.lock
go.sum
resources/
public/

# Pagefind search index (generated)
**/pagefind/

# Mac
.DS_Store

# Test
test/go.sum
hugo_stats.json
