_vendor/
vendor/
blox-bootstrapassets/css/libs/

public/
resources/

*.html

blox-bootstrapassets/css/reveal.css
blox-bootstrapassets/scss/main.scss

blox-bootstraplayouts/index.json
blox-bootstraplayouts/index.webmanifest
