[build]
  command = "hugo --gc --minify -b $DEPLOY_PRIME_URL --themesDir ../../"
  base    = "exampleSite"
  publish = "exampleSite/public"

[build.environment]
  HUGO_THEME = "repo"
  HUGO_VERSION = "0.55.6"
  HUGO_ENABLEGITINFO = "true"

[context.production.environment]
  HUGO_ENV = "production"
