{{ $scr := newScratch }}

{{ $pack := or .icon_pack "fas" }}
{{ $scr.SetInMap "icon_def" "icon_pack" $pack }}

{{ $pack_prefix := $pack }}
{{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
{{ end }}
{{ $scr.SetInMap "icon_def" "pack_prefix" $pack_prefix }}

{{ $link := .link }}
{{ $target := "" }}
{{ $scheme := (urls.Parse $link).Scheme }}
{{ if not $scheme }}
  {{ $link = .link | relLangURL }}
{{ else if in (slice "http" "https") $scheme }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ $scr.SetInMap "icon_def" "link" $link }}
{{ $scr.SetInMap "icon_def" "target" $target }}

{{ return $scr.Get "icon_def" }}
