/* Code Copy */

/* Hugo's Code Block Wrapper Class */

.highlight {
  @apply relative z-0;
}

.copy-button {
  @apply invisible absolute right-0 top-0 z-10 w-20 py-1 cursor-pointer font-mono text-sm whitespace-nowrap rounded-bl-md rounded-tr-md bg-neutral-200 text-neutral-700 opacity-90 dark:bg-neutral-600 dark:text-neutral-200;
}

/* Copy Button */

.highlight:hover > .copy-button {
  @apply visible;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active,
.copy-button:active:hover {
  background-color: var(--color-primary-100);
}

.dark .copy-button:hover,
.dark .copy-button:focus,
.dark .copy-button:active,
.dark .copy-button:active:hover {
  background-color: var(--color-primary-600);
}
