// Footer styles

footer {
  margin: 4rem 0 0;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

footer .powered-by {
  font-size: 0.67rem;
}

.site-footer {
  color: rgba(0, 0, 0, 0.54);
}

// Dark footer theme
.dark .site-footer,
.dark .docs .body-footer {
  color: rgba(255, 255, 255, 0.54);
}

// Footer copyright license

.footer-license-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  text-decoration: none;
}

.footer-license-icons i {
  display: inline-flex;
  margin-right: 8px;
  height: 22px;
  vertical-align: text-bottom;
}
