/* Import Tailwind */
@import "./tailwind.css";

/*! Hugo Blox Components | https://hugoblox.com */
@import "main.css";
@import "./components/all.css";
@import "./blox/all.css";
@import "chroma.css";
