/*************************************************
 * Experience
 **************************************************/

.exp-title {
  text-transform: none !important;
}

.exp-company {
  font-weight: normal !important;
  text-transform: none !important;
}

.exp-meta {
  font-size: 0.8rem;
}

.experience .card-text,
.experience .card-text p {
  color: #000 !important;
  font-size: 0.75rem !important;
}

.dark .experience .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

.dark .experience .card-text,
.dark .experience .card-text p {
  color: rgb(248, 248, 242) !important;
}

// For a UL after P, remove the spacing between (P margin-bottom) without affecting any nested lists.
.card .card-text p + ul {
  margin-top: -1rem;
  margin-bottom: 0;
}

.experience .m-2 .border,
.experience .col.border-right {
  border-color: $sta-primary !important;
}

.experience .m-2 .border.exp-fill {
  background-color: $sta-primary !important;
}
