<div
  id="search-wrapper"
  class="hidden fixed inset-0 z-50 bg-white dark:bg-gray-900 flex flex-col overflow-hidden"
>
  <div class="flex justify-end p-3">
    <button
      aria-label="search"
      class="search-close text-black hover:text-primary dark:text-white"
      data-search-toggle
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div id="search" class="flex-1 overflow-y-auto p-3">
    <!-- Search content displayed here -->
  </div>
</div>
