{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="article-container">

    <div class="pub-title">
      <h1 itemprop="name">{{ .Title }}</h1>
      <span class="pub-authors" itemprop="author">&nbsp;</span>
      <span class="pull-right">
        {{ partial "share.html" . }}
      </span>
    </div>

    {{ with .Params.external_link }}
    <a class="btn btn-primary btn-outline" href="{{ . }}" target="_blank">{{ i18n "open_project_site" }}</a>
    {{ end }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

  </div>
</article>

<div class="container">
  {{ partial "section_pager.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
