<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">

{{ partial "site_head.html" . }}
<body id="top" data-spy="scroll" data-offset="70" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>

  {{ partial "search" . }}

  {{ partial "navbar.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "site_js.html" . }}

  {{ if ne .Type "docs" }}
  <div class="container">
    {{ partial "site_footer.html" . }}
  </div>
  {{ end }}

  {{ partial "citation.html" . }}

</body>
</html>
