{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <article class="article" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name">{{ .Title }}</h1>

        {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

        <div class="post" itemprop="articleBody">
            {{ .Content }}
        </div>
    </article>

    {{ partial "section_pager.html" . }}
    {{ partial "comments.html" . }}

    {{ partial "footer_container.html" . }}
 </div>
{{ partial "footer.html" . }}
