{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="article-container">
    <h1 itemprop="name">{{ .Title }}</h1>
    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}
    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>
  </div>

</article>

<div class="container">
  {{ partial "section_pager.html" . }}
</div>

<div class="article-container">
  {{ partial "comments.html" . }}
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
