{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $name_raw := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy .) -}}
    {{- $name := $profile_page.Title | default $name_raw -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
      {{- if $link_authors -}}
        <a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
