{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ if eq $.Params.view 5 }}
  <div class="timeline">
    <ul>
  {{ end }}

  {{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
    {{ $view := partial "functions/get_view_by_number" ($.Params.view | default 2) }}
    {{ partial $view . }}
  {{ end }}

  {{ if eq $.Params.view 5 }}
      <div style="clear:both;"></div>
    </ul>
  </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
