{{ if not .IsHome }}
  <nav class="d-none d-md-flex" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{ template "breadcrumb" . }}
      <li class="breadcrumb-item active" aria-current="page">
        {{ .LinkTitle | emojify }}
      </li>
    </ol>
  </nav>
{{ end }}

{{ define "breadcrumb" }}
  {{ with .Parent }}
    {{ template "breadcrumb" . }}
    <li class="breadcrumb-item">
      <a href="{{ .RelPermalink }}">
        {{ if .IsHome }}
          {{ (i18n "home" | default "Home") | emojify }}
        {{ else }}
          {{ .LinkTitle | emojify }}
        {{ end }}
      </a>
    </li>
  {{ end }}
{{ end }}
