#announcement {
  // Reduced BS font size
  font-size: 16px;
}

#announcement.alert {
  // Reduced BS padding
  padding: 0.1rem 1.25rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    // Reduced BS padding inline with `#announcement.alert` padding
    padding: 0.1rem 1.25rem;
}

// Hide dismissed announcement
[data-wc-announcement-status="dismissed"] #announcement {
  display: none;
}
