/*************************************************
 *  Sharing
 **************************************************/

.share-box {
  margin-top: 0.7rem;
}

ul.share {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 8px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li i {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  transition: all 150ms ease-in-out;
}

ul.share li a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.84);
}

.dark ul.share li a {
  color: rgba(255, 255, 255, 0.84);
}

ul.share li:hover i {
  transform: scale(1.2);
}
