{{ $is_list := .is_list }}
{{ $ := .content }}
<div class="article-metadata">

  <span class="article-date">
    {{ if ne $.Params.Lastmod $.Params.Date }}
        {{ i18n "last_updated" }}
    {{ end }}
    <time datetime="{{ $.Date }}" itemprop="datePublished dateModified">
      {{ $.Lastmod.Format $.Site.Params.date_format }}
    </time>
  </span>
  <span itemscope itemprop="author publisher" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ $.Site.Params.name }}">
  </span>

  {{ if ne $.Site.Params.reading_time false }}
  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ $.ReadingTime }} {{ i18n "minute_read" }}
  </span>
  {{ end }}

  {{ $comments_enabled := and (or $.Site.DisqusShortname $.Site.Params.staticman) (not (or $.Site.Params.disable_comments $.Params.disable_comments)) }}
  {{ if and $comments_enabled ($.Site.Params.comment_count | default true) }}
    {{ if $.Site.DisqusShortname }}
      <span class="middot-divider"></span>
      <a href="{{ $.Permalink }}#disqus_thread"><!-- Count will be inserted here --></a>
    {{ end }}
    {{ if $.Site.Params.staticman }}
      {{ $.Scratch.Set "commentCountPerPost" 0 }}
      {{ if $.Slug }} <!-- Can't count comments without slug -->
        {{ if fileExists (printf "data/comments/%s" $.Slug) }} <!-- If the comment dir exists, we can count comments -->
          {{ $comments := readDir (printf "data/comments/%s" $.Slug) }}
          {{ $.Scratch.Set "commentCountPerPost" (len $comments) }}
        {{ end }}        
      {{ end }}
      {{ if gt ( $.Scratch.Get "commentCountPerPost" ) 1 }}
        <span class="middot-divider"></span>
        <a href="{{ $.Permalink }}#comments">{{ $.Scratch.Get "commentCountPerPost" }} Comments</a>
      {{ else if eq ( $.Scratch.Get "commentCountPerPost" ) 1 }}
        <span class="middot-divider"></span>
        <a href="{{ $.Permalink }}#comments">1 Comment</a>
      {{ end }}
    {{ end }}
  {{ end}}

  {{ if isset $.Params "categories" }}
  {{ $categoriesLen := len $.Params.categories }}
  {{ if gt $categoriesLen 0 }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fa fa-folder"></i>
    {{ range $k, $v := $.Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a
    >{{ if lt $k (sub $categoriesLen 1) }}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if ne $is_list 1 }}
  {{ partial "share.html" $ }}
  {{ end }}

</div>
