{{ if and (or .Site.DisqusShortname .Site.Params.staticman) (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
  <section id="comments">
    {{ if .Site.DisqusShortname }}
      <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
      </div>
    {{ end }}
    {{ if .Site.Params.staticman }}
      <section class="staticman-comments post-comments">
        <h3>Comments</h3>

        {{ $comments := readDir "data/comments" }}
        {{ $.Scratch.Add "hasComments" 0 }}
        {{ $postSlug := .Source.BaseFileName }}

        {{ range $comments }}
          {{ if eq .Name $postSlug }}
            {{ $.Scratch.Add "hasComments" 1 }}
            {{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}            
              <div id="commentid-{{ ._id }}" class="post-comment">
                <div class="post-comment-header">
                  <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon">
                  <p class="post-comment-info">
                    <span class="post-comment-name">{{ .name }}</span>
                    <br>
                    <a href="#commentid-{{ ._id }}" title="Permalink to this comment">
                      <time class="post-time">{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
                    </a>
                  </p>
                </div>
                {{ .comment | markdownify }}
              </div>
            {{ end }}       
          {{ end }}
        {{ end }}

        {{ if eq ($.Scratch.Get "hasComments") 0 }}
          <p>Be the first to leave a comment.</p>
        {{ end }}
        
        <h3>Say something</h3>
        Your email is used for <a href="https://gravatar.com" target="_blank">Gravatar</a> image and reply notifications only.
        
        
        <form class="post-new-comment" method="post" action="{{ .Site.Params.staticman.endpoint }}/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
          <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
          <input type="hidden" name="options[slug]" value="{{ .Source.BaseFileName }}">
          <input type="hidden" name="fields[postName]" value="{{ .Source.BaseFileName }}"/>          
          <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
          <input type="email" name="fields[email]" class="post-comment-field" placeholder="Email address (will not be public) *" required/>          
          <input type="address" name="fields[botpot]" placeholder="botpot (do not fill!)" style="display: none"></textarea>          
          <textarea name="fields[comment]" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
          <!-- Following fields used for subscribing to comments -->
          <input type="hidden" name="options[origin]" value="{{ $.Permalink }}#comments">
          <input type="hidden" name="options[parent]" value="{{ .Source.BaseFileName }}">
          <input id="form-submit" type="checkbox" name="options[subscribe]" class="checkbox post-comment-field" value="email">
          <label for="form-submit" class="post-comment-field checkbox-label"> &nbsp Notify me of new comments on this post</label>
          <!-- End following fields used for subscribing to comments -->
          <input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Submit">
        </form>
      </section>

      <div id="comment-submitted" class="dialog">
        <h3>Thank you</h3>
        <p>Your comment has been submitted and will be published once it has been approved.</p>
        <p><a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/pulls">Click here</a> to see the pull request you generated.</p>
        
        <p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
      </div>

    {{ end }}
  </section>
{{ end }}




