<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">{{ i18n "toggle_navigation" }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <!-- Left Nav Bar -->
      <ul class="nav navbar-nav navbar-right">
        {{ range .Site.Menus.main }}

        {{ if .HasChildren }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            {{ .Name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li class="nav-item">
              <a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
            {{end}}
          </ul>
        </li>

        {{ else }}

        <li class="nav-item">
          <a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>

        {{ end }}
        {{ end }}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
