{{ $post := .post }}

<div class="media stream-item" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="headline">
      <a href="{{ $post.RelPermalink }}" itemprop="url">{{ $post.Title }}</a>
    </h3>

    {{ $summary := "" }}
    {{ if $post.Params.summary }}
      {{ $summary = $post.Params.summary | markdownify }}
    {{ else if $post.Truncated }}
      {{ $summary = $post.Summary }}
    {{ end }}
    {{ with $summary }}
    <div class="article-style" itemprop="articleBody">
      {{ . | truncate 135 }}
    </div>
    {{ end }}

    <div class="stream-meta">
    {{ partial "page_metadata" (dict "content" $post "is_list" 1) }}
    </div>

  </div>
  <div class="ml-3">
    {{ $resource := ($post.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{ $post.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" itemprop="image">
    </a>
    {{end}}
  </div>
</div>
