{{ $post := . }}

<div class="card-simple" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  {{ partial "page_metadata" (dict "content" $post "is_list" 1) }}

  {{ $resource := ($post.Resources.ByType "image").GetMatch "*featured*" }}
  {{ $anchor := $post.Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <a href="{{ $post.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" itemprop="image" alt="">
  </a>
  {{end}}
  <h3 class="article-title" itemprop="headline">
    <a href="{{ $post.RelPermalink }}" itemprop="url">{{ $post.Title }}</a>
  </h3>
  <div class="article-style" itemprop="articleBody">
    {{ if $post.Params.summary }}
    <p>{{ printf "%s" $post.Params.summary | markdownify }}</p>
    {{ else if $post.Truncated }}
    {{ $post.Summary }}
    {{ else }}
    {{ $post.Content }}
    {{ end }}
  </div>
  <p class="read-more" itemprop="mainEntityOfPage">
    <a href="{{ $post.RelPermalink }}" class="btn btn-outline-primary my-1">
      {{ i18n "continue_reading" }}
    </a>
  </p>
</div>
