<div class="media stream-item" itemscope itemtype="http://schema.org/Event">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0" itemprop="name">
      <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
    </h3>

    {{ $summary := "" }}
    {{ if .Params.abstract_short }}
      {{ $summary = .Params.abstract_short | markdownify }}
    {{ else if .Params.abstract }}
      {{ $summary = .Params.abstract | markdownify }}
    {{ else if .Truncated }}
      {{ $summary = .Summary }}
    {{ end }}
    {{ with $summary }}
    <div class="article-style" itemprop="articleBody">
      {{ . | truncate 135 }}
    </div>
    {{ end }}

    <div class="stream-meta article-metadata">
      <div itemprop="author">
        {{ with .Params.authors }}
        {{- delimit . ", " | markdownify -}}
        {{- end -}}
      </div>
    </div>

    <div class="talk-links">
      {{ partial "publication_links" (dict "content" . "is_list" 1) }}
    </div>

  </div>
  <div class="ml-3">
    {{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{ $.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" itemprop="image">
    </a>
    {{end}}
  </div>
</div>
