<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  {{ if .Params.custom_icon }}
    {{ range $.Params.custom_icon }}
    {{ $pack := or .icon_pack "fa" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} small-icon" aria-hidden="true"></i>
  {{ else }}
    <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
  {{end}}
  <a href="{{ .Permalink }}" itemprop="name">{{ .Title }}</a>
  <div itemprop="author">
    {{ with .Params.authors }}
      {{- delimit . ", " | markdownify -}}
    {{- end -}}
  </div>
  <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
</div>
