<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
  {{ $anchor := .Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <div>
    <a href="{{ $.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" itemprop="image" alt="">
    </a>
  </div>
  {{end}}

  <h3 class="article-title" itemprop="name">
    <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
  </h3>

  <div class="pub-abstract" itemprop="text">
    {{ if .Params.abstract_short }}
    {{ .Params.abstract_short | markdownify }}
    {{ else }}
    {{ .Params.abstract | markdownify}}
    {{ end }}
  </div>

  <div class="pub-authors" itemprop="author">
    {{ with .Params.authors }}
    {{ delimit . ", " | markdownify }}
    {{ end }}
  </div>

  <div class="pub-publication">
    {{ if .Params.publication_short }}
    {{ .Params.publication_short | markdownify }},
    {{ else if .Params.publication }}
    {{ .Params.publication | markdownify }},
    {{ end }}
    {{ .Date.Format "2006" }}
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
