<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  {{ if .Params.custom_icon }}
    {{ range $.Params.custom_icon }}
      {{ $pack := or .icon_pack "fa" }}
      <i class="{{ $pack }} {{ $pack }}-{{ .icon }} small-icon" aria-hidden="true"></i>
    {{ end }}
  {{ else }}
    <i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
  {{end}}
  <span itemprop="author">
    {{ with .Params.authors }}
      {{- delimit . ", " | markdownify -}}
    {{- end -}}
  </span>
  ({{- .Date.Format "2006" -}}).
  <a href="{{ .Permalink }}" itemprop="name">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
    {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
    {{- .Params.publication | markdownify -}}.
  {{ end }}
  <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
</div>
