<div class="card-simple" itemscope itemtype="http://schema.org/Event">

  {{ $resource := (.Resources.ByType "image").GetMatch "*featured*" }}
  {{ $anchor := .Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <div>
    <a href="{{ $.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" itemprop="image" alt="">
    </a>
  </div>
  {{end}}

  <h3 class="article-title" itemprop="name">
    <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
  </h3>

  <div class="talk-metadata" itemprop="startDate">
    {{ $date := .Params.time_start | default .Date }}
    {{ (time $date).Format $.Site.Params.date_format }}
    {{ if not .Params.all_day }}
      {{ (time $date).Format ($.Site.Params.time_format | default "3:04 PM") }}
      {{ with .Params.time_end }}
        &mdash; {{ (time .).Format ($.Site.Params.time_format | default "3:04 PM") }}
      {{ end }}
    {{ end }}
  </div>

  <div class="talk-metadata">
    {{ if .Params.event }}
    {{ .Params.event | markdownify }}
    {{ else if .Params.event_short }}
    {{ .Params.event_short | markdownify }}
    {{ end }}
  </div>

  <div class="talk-abstract" itemprop="text">
    {{ if .Params.abstract_short }}
    {{ .Params.abstract_short | markdownify }}
    {{ else }}
    {{ .Params.abstract | markdownify }}
    {{ end }}
  </div>

  <div class="btn-links">
    {{ partial "page_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
