/* Hugo Blox color theme: ZINC */
:root {
  --color-primary-50: 250 250 250;
  --color-primary-100: 244 244 245;
  --color-primary-200: 228 228 231;
  --color-primary-300: 212 212 216;
  --color-primary-400: 161 161 170;
  --color-primary-500: 113 113 122;
  --color-primary-600: 82 82 91;
  --color-primary-700: 63 63 70;
  --color-primary-800: 39 39 42;
  --color-primary-900: 24 24 27;
  --color-primary-950: 9 9 11;
}
