{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{/* Just display author name as title if user profile unavailable. */}}
{{ if not (site.GetPage (printf "/author/%s" (urlize .Title))) }}
<div class="universal-wrapper pt-3">
  <h1 itemprop="name">{{ .Title }}</h1>
</div>
{{ end }}

<section id="about" class="pt-5">
  <div class="container">
    {{/* Only show About widget if a profile has been configured for this user. */}}
    {{ $widget := "widgets/about.html" }}
    {{ $params := dict "root" $ "page" . "author" .Title }}
    {{ with site.GetPage (printf "/author/%s" (urlize .Title)) }}
      {{ partial $widget $params }}
    {{ end }}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget">
      <div class="hr-light"></div>
      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
      <ul>
        {{ range $query }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
</section>

<!-- Page Footer -->
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
