{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style" itemprop="articleBody">{{ . }}</div>
  {{ end }}

  <ul>
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $k, $v := $paginator.Pages }}
      {{ $person_page_path := (printf "/author/%s" (urlize $v.Title)) }}
      {{ $person_page := site.GetPage $person_page_path }}
      {{ $name := "" }}
      {{ if $person_page }}
        {{ $person := $person_page.Params }}
        {{ $name = $person.name }}
      {{ else }}
        {{ $name = $v.Title | plainify }}
      {{ end }}
    <li><a href="{{ $v.Permalink }}">{{ $name }}</a></li>
    {{ end }}
  </ul>

  {{ partial "pagination" . }}
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
