/*************************************************
 *  Tables
 **************************************************/

/* Based on Bootstrap's `table-responsive` style. */
table {
  //display: block;
  //width: 100%;
  overflow-x: scroll;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  // Override `article-style`'s `break-word` wrapping to make wide tables scrollable.
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}

.dark .table {
  color: white;
}
