/*************************************************
 *  Tables
 **************************************************/

/* Based on Bootstrap's `table-responsive` style. */
table {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  // Override `article-style`'s `break-word` wrapping to make wide tables scrollable.
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.43;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #ddd;
}

table table {
  background-color: #fff;
}

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #e5e5e5;
}
