/**************************************************
 *  Tags/Labels
 **************************************************/

.badge-light {
  border: none;
  color: rgba(0, 0, 0, 0.68);
  background: rgba(0, 0, 0, 0.05);
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.article-tags > .badge-light:last-child {
  margin-right: 0;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
  background: rgba(0, 0, 0, 0.1);
}

a.badge:focus,
a.badge:hover {
  color: rgba(0, 0, 0, 0.68);
}

.tag-cloud a {
  display: inline-block;
  position: relative;
  margin: 8px 10px;
  word-wrap: break-word;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $sta-primary-dark;
  transform: scale(1.2);
}

.dark .tag-cloud a:active,
.dark .tag-cloud a:focus,
.dark .tag-cloud a:hover {
  color: $sta-primary-light;
}
