@mixin word-wrap() {
  // Break very long words such as pasted URL strings.
  overflow-wrap: break-word;
  word-wrap: break-word;
  //-ms-word-break: break-all;
  //word-break: break-all;
  word-break: break-word;

  // Add a hyphen where the word breaks, if supported (No Blink).
  //-ms-hyphens: auto;
  //-moz-hyphens: auto;
  //-webkit-hyphens: auto;
  //hyphens: auto;
}
