.blox-resume-biography {
  #profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
  }

  /* Custom avatar size on homepage */

  .avatar {
    width: auto;
    height: auto;
    max-width: 225px;
    max-height: 225px;
    object-fit: cover;
  }

  .network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #profile .network-icon {
    margin-top: 0.5rem;
  }

  .network-icon li {
    margin-right: 10px;
    @media (max-width: 640px) {
      /* Min 48px Lighthouse tap targets on mobile */
      margin-right: 12px;
    }
  }

  .network-icon li:last-of-type {
    margin-right: 0;
  }

  .network-icon li:hover {
    transform: scale(1.2);
  }

  .big-icon {
    font-size: 2rem;
  }

  .ul-interests li {
    font-size: 0.9rem;
  }

 .ul-edu {
    list-style: none;
  }

  .ul-edu li {
    position: relative;
    padding: 0 15px 4px 3px;
  }

  .ul-edu li .description p {
    margin: 0;
  }

  .ul-edu li .description p.course {
    font-size: 0.9rem;
  }

  .ul-edu li .description p.institution {
    font-size: 0.75rem;

    /* color: rgba(0, 0, 0, 0.6); */
  }

  .network-icon .big-icon {
    font-size: 1.5rem;
  }

  .dark .portrait-title h3 {
    color: rgb(255 255 255 / 90%);
    font-weight: bold;
  }

  .dark .portrait-title h2 {
    color: #fff;
    font-weight: bold;
  }

  .bio-text {
    max-width: 680px;
  }
}

.avatar-wrapper {
  position: relative;
  width: 150px; /* Match image size in about.avatar widget */
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.avatar-emoji {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  color: #000; /* override parent alpha */
  box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
}


.dark .avatar-emoji {
  background-color: #000;
  box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(255 255 255 / 96%);
}
