/*************************************************
 *  Pager.
 **************************************************/

.post-nav {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.post-nav-item {
  hyphens: auto;
  word-wrap: break-word;
  padding: 11px 0 12px;
  width: 100%;
}

.post-nav-item a {
  color: #2b2b2b;
  line-height: 1.7;
  text-transform: none;
}

.post-nav-item .meta-nav {
  color: #767676;
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}

.dark .post-nav-item a {
  color: #ddd;
}
