{{- $username := .Get 0 -}}
{{- $username_url := $username | urlize -}}
{{- $taxonomy := "authors" -}}
{{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $username_url) -}}
{{- $name := $profile_page.Title | default ($username|markdownify) -}}
{{- $link := $profile_page.RelPermalink -}}
{{- $target := "" -}}
{{- with $profile_page.Params.external_link -}}
  {{- $link = . }}
  {{- $target = "target=\"_blank\" rel=\"noopener\"" -}}
{{- end -}}
{{- with $profile_page -}}
  <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{$name}}</a>
{{- else -}}
  {{- $name -}}
{{- end -}}
