.breadcrumb {
  font-size: 14px;
  padding: 0rem;
  background-color: transparent;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

.breadcrumb-item.active {
  color: rgba(0, 0, 0, 0.54);
}

.dark .breadcrumb-item.active {
  color: rgba(255, 255, 255, 0.54);
}
